extends base.pug

block main
    section(class='page')
        .container
            .page__body
                h2.page__title Редактирование пароля

                form(class='form' method='post')
                    {% csrf_token %}
                    .form__error {{ form.non_field_errors }}
                    .form__row
                        .text-field
                            label(for='{{ form.new_password1.id_for_label }}') {{ form.new_password1.label }}
                            {{ form.new_password1 }}
                            span.error {{ form.new_password1.errors }}
                    .form__row                                
                        .text-field
                            label(for='{{ form.new_password2.id_for_label }}') {{ form.new_password2.label }}
                            {{ form.new_password2 }}
                            span.error {{ form.new_password2.errors }}
                    .form__footer
                        button(class='btn' type='submit') Сохранить