extends base.pug

block main
    section(class='page')
        .container
            .page__body
                h2.page__title Редактирование логина и почты

                form(class='form' method='post')
                    {% csrf_token %}
                    .form__error {{ form.non_field_errors }}
                    div(class='cols-auto-fit')
                        div
                            .form__row
                                .text-field
                                    label(for='{{ form.username.id_for_label }}') Логин
                                    {{ form.username }}
                                    span.error {{ form.username.errors }}
                            .form__row                                
                                .text-field
                                    label(for='{{ form.email.id_for_label }}') {{ form.email.label }}
                                    {{ form.email }}
                                    span.error {{ form.email.errors }}
                    .form__footer
                        button(class='btn' type='submit') Сохранить